@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base{
  table tbody tr:nth-child(:odd){
    @apply bg-gray-50
  }
} */
@layer components{
  .btn-primary{
    @apply text-gray-25 px-5 py-3 sm:text-lg md:text-md font-medium rounded-lg  shadow-[0_1px_2px_rgba(16,24,40,0.05)] cursor-pointer bg-primary-400 hover:bg-primary-400/80
  }
  .btn-primary-small{
    @apply text-gray-25 px-4 py-2 sm:text-md md:text-sm font-medium rounded-lg  shadow-[0_1px_2px_rgba(16,24,40,0.05)] cursor-pointer bg-primary-400 hover:bg-primary-400/80
  }
  .btn-primary-large{
    @apply text-gray-25 px-7 py-4 sm:text-xl md:text-lg font-medium rounded-lg  shadow-[0_1px_2px_rgba(16,24,40,0.05)] cursor-pointer bg-primary-400 hover:bg-primary-400/80
  }
  
}
/* for price */
.check-flip-x{
  transform: rotateX(180deg) skewX(20deg);
}
.gradient-border{
  border-color: transparent;
  background: linear-gradient(rgba(22,22,22),rgba(22,22,22)) padding-box,linear-gradient(153.06deg,#3C8CE7 4.31%,#63EDE6 56.27%) border-box;
}


html, body, #__next {
  width: 100%;
  height: 100%;
}

html,
body {
  overflow-x: hidden;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
  /* iOS safari */
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
  .h-screen {
    height: -webkit-fill-available !important;
    overflow: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
